<% content_for :title do %>Judicial Appointments Commission<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jars_backend_build_test" data-view="JenkinsBuild" data-title="JARS Test" data-description="JARS Test builds" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jars_backend_build_dev" data-view="JenkinsBuild" data-title="JARS Dev" data-description="JARS Development Server builds" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jars_frontend_build_test" data-view="JenkinsBuild" data-title="JAC Site Test" data-description="JAC Website Test builds" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jars_frontend_build_dev" data-view="JenkinsBuild" data-title="JAC Site Dev" data-description="JAC Website Development Server builds" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>